<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- TODO : in PROD all static content should in same file, following is HARDCODED -->

      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
      <!-- Optional theme -->
      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />

    <!-- TODO : ENDED -->

    <title>TODO</title>
  </head>
  <body
    <% include "includes/body"%>
  </body>
  <script src="/js/main.js"></script>
</html>
